<%= form_with(model: consultation, local: true) do |form| %>
  <% if consultation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(consultation.errors.count, "error") %> prohibited this consultation from being saved:</h2>

      <ul>
        <% consultation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <div>
       # Pending: Create the Consultation creation form
       # It needs to have a way to add a:
       # 1. Doctor
       # 2. Patient
       # 3. Start Time
       #
       #
       # select("consultation", "patient_id", VALUE_GOES_HERE(array of Patients or doctors))
       #
       # BONUS POINTS: Find a way to have the user PRE SELECTED based on which
       # link you pressed
    <div>
    <ul>
    <ul>
    <ul>
    <ul>
    <%= form.submit %>
  </div>
<% end %>
