<h1>Creating a new user</h1>

<%= form_for @patient do |f| %>
  <p>
    <label>Username</label><br />
    <%= f.text_field :username %>
  </p>

  <p>
  <label>age</label><br />
    <%= f.text_field :age %>
  </p>

  <p><%= f.submit 'CREATE' %></p>
<% end %>
